body {
    background-image: url('../public/neon.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

#bigbox{
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navoptions{
    color: lightslategrey;
    text-decoration: none;
    list-style: none;
}
#title{
    color: whitesmoke;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}