#PrincipalBox{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Upbox{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke
}

#MagesBox{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Mages{
    width: 150px;
    height: 150px;
}